{% extends 'index.html' %}

{% block title %}Python Documentation{% endblock %}

{% block content %}
    <div style="padding-left: 70px;padding-top: 30px;background-image: url(https://4kwallpapers.com/images/wallpapers/python-programming-5120x2880-16046.jpg);background-size: 1200px;width: 100%; height: 470px;">
        <h1>Python Documentation</h1>
        <p>To learn more about Python, visit the official documentation:</p>
        <a href="https://docs.python.org/3/" style="background-color: #1b2222;color: white; padding: 8px 15px; text-decoration: none; border-radius: 10px;">Documentation <sub> ->link</sub></a>
    </div>
{% endblock %}
