{% extends 'index.html' %}

{% block title %}Python Frameworks{% endblock %}

{% block content %}
    <div style="background-image: url(https://wallpapercave.com/wp/wp3105550.png);background-size: 1130px;width: 100%; height: 470px;">
        <h1 style="text-align: center;padding-top: 25px;color: white"> Python Frameworks</h1>
        <ul style="font-size: 25px;padding-left: 400px;padding-top: 30px" >
            <li style="margin: 15px"><a href="https://www.djangoproject.com/"  style="background-color: aqua;color: black; padding: 8px 15px; text-decoration: none; border-radius: 10px;">Django</a></li>
            <li style="margin: 15px"><a href="https://flask.palletsprojects.com/en/stable/"  style="background-color: aqua;color: black; padding: 8px 15px; text-decoration: none; border-radius: 10px;">Flask</a></li>
            <li style="margin: 15px"><a href="https://www.pyramidanalytics.com/"  style="background-color: aqua;color: black; padding: 8px 15px; text-decoration: none; border-radius: 10px;">Pyramid</a></li>
        </ul>
    </div>
{% endblock %}
