{% extends 'index.html' %}

{% block title %}Python Libraries{% endblock %}

{% block content %}
    <div style="background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*EmOmpUjwfMdLNNy7-uKYpw.png);background-size: 1100px;width: 100%; height: 470px;">
        <h1 style="text-align: center;padding-top: 30px">Python Libraries</h1>
        <ul style="padding-left: 300px; font-size: 30px">
            <li style="margin: 15px"><a href="https://numpy.org/" style="background-color: #1b2222;color: white; padding: 8px 15px; text-decoration: none; border-radius: 10px;">NumPy</a></li>
            <li style="margin: 15px"><a href="https://pandas.pydata.org/" style="background-color: #1b2222;color: white; padding: 8px 15px; text-decoration: none; border-radius: 10px;">Pandas</a></li>
            <li style="margin: 15px"><a href="https://pypi.org/project/requests/" style="background-color: #1b2222;color: white; padding: 8px 15px; text-decoration: none; border-radius: 10px;">Requests</a></li>
        </ul>
    </div>
{% endblock %}
